@import "tailwindcss";

@theme {
  --color-lemon: #bef264;
  --color-lemon-hover: #a3e635;
}

@layer utilities {
  .bg-dotted {
    background-image: radial-gradient(rgba(190, 242, 100, 0.15) 1px, transparent 1px);
    background-size: 24px 24px;
  }

  @keyframes shimmer {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }

  .animate-shimmer {
    animation: shimmer 2s infinite linear;
  }
}
